.task-2{
    max-width: 100%;
     display: flex;
    flex-wrap: wrap;
  .dot {
      margin: 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
  }
}
  @for $i from 0 through 1000 {
    .dot-#{$i}{
        background:rgb(random(255),random(255),random(255));
    }
  }