.task-3 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  .star {
    background-color: #fff;
    position: absolute;
    margin: 10px;
    border-radius: 50%;
  }
}
@for $i from 0 through 300 {
  $random-value:#{random(3) + 'px'};
  .star-#{$i} {
    left: #{random(100)} + '%';
    top: #{random(100)} + '%';
    width: $random-value;
    height: $random-value;
  }
}
