$blok-colors: (
  color-black: black,
  color-red: red,
  color-yellow: yellow,
  color-pink: pink,
);
.task-1{
    height: 400px;
    display: flex;
    div{
        height: 100%;
        width: 25%;
    }
    @each $status, $color in $blok-colors {
        &--#{$status} {
          background: $color;
        }
      }
}