section {
    margin-top: 100px;
    height: 500px;
    display: flex;
  }
  .container {
    perspective: 1000px;
  }
  .flip,.flip-2{
    transform-style: preserve-3d;
    height: 250px;
    transition: 1s;
    border-radius: 5px;
  }
  .flip {
    width:200px;
    position: absolute;
    transform: translate(90px);
    bottom: -50%;
    left: calc(50% - 100px);
    background: rgba(128, 0, 128, 0.8);
  }
  .flip-2{
    position: relative;
    margin: 0 auto;
    width:250px;
    transform: rotateY(45deg);
    background-image: radial-gradient(red, yellow);
    &:hover{
        transform: none;
        .flip{
            transform: none;
        }
    }
  }
