<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  <div >
    @@include('../partials/components/task1.html')
    @@include('../partials/components/task2.html')
    @@include('../partials/components/task3.html')
    @@include('../partials/components/task4.html')
    @@include('../partials/components/task5.html')
    @@include('../partials/components/task6.html')
    <h1>ANIMATION</h1>
    @@include('../partials/components/task7.html')
    @@include('../partials/components/task8.html')
    @@include('../partials/components/task9.html')
    @@include('../partials/components/task10.html')
  </div>

  @@include('../partials/scripts/common.html')
</body>

</html>
